:root {
  --bg-color: #333;
  --secondary-bg-color: #444;
  --text-color: #fefefe;
  --main-color: #581c87;
  --secondary-color: #c084fc;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.container > * {
  border: solid red;
}

.header {
}