:root {
  --bg-color: #333;
  --secondary-bg-color: #444;
  --text-color: #fefefe;
  --main-color: #BADA55
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}